In [1]:
import pandas as pd
import numpy as np

fileNameStr = './d3.csv'

DataDF = pd.read_csv(fileNameStr, encoding="utf-8",dtype=str)

In [2]:
print(DataDF.shape)

(452, 5)

In [3]:
DataDF.head()

,职位名称,技能,薪资,学历要求,地区
0,数据挖掘,"['Python', 'SQL', '数学/统计相关专业']",25-50K,硕士,北京
1,数据挖掘,"['Python', 'Scala', 'Shell', 'SQL', '深度学习算法', ...",22-30K·15薪,硕士,深圳
2,数据挖掘,"['TensorFlow', 'PyTorch', 'GBDT']",15-20K,硕士,张掖
3,数据挖掘,"['计算机相关专业', '数学/统计相关专业', '大数据处理经验']",3-5K,大专,宝鸡
4,数据挖掘工程师,['数据挖掘'],20-40K·14薪,硕士,北京

In [35]:
DataDF.astype(str).dtypes

职位名称    object
技能      object
薪资      object
dtype: object

In [42]:
DataDF.dtypes

职位名称    object
技能      object
薪资      object
dtype: object

In [4]:
import re
skills=DataDF['技能']
skills

0                         ['Python', 'SQL', '数学/统计相关专业']
1      ['Python', 'Scala', 'Shell', 'SQL', '深度学习算法', ...
2                      ['TensorFlow', 'PyTorch', 'GBDT']
3                    ['计算机相关专业', '数学/统计相关专业', '大数据处理经验']
4                                               ['数据挖掘']
                             ...
447    ['Python', 'TensorFlow', 'PyTorch', '计算机相关专业',...
448    ['容器技术', '消息队列', '网络编程', 'Django', 'MySQL', ''...
449    ['网络爬虫技术', '搜索引擎技术', 'Linux', 'Redis', 'NoSQL'...
450    ['Python', 'C++', 'JavaScript', 'C语言', 'Python...
451    ['C/C++', 'C++', '机器学习/算法工程', '计算机相关专业', '', '...
Name: 技能, Length: 452, dtype: object

In [ ]:
字符串转数组，去除‘

In [5]:
def func(s):
    a=s.replace("'","")
    b=a.replace("[",'')
    c=b.replace("]",'')
    d=c.replace(" ","")
    e=d.split(",")
    return e
for i in range(0,len(skills)):
    skills[i]=func(str(skills[i]))
skills

0                             [Python, SQL, 数学/统计相关专业]
1        [Python, Scala, Shell, SQL, 深度学习算法, 推荐算法, , ]
2                          [TensorFlow, PyTorch, GBDT]
3                        [计算机相关专业, 数学/统计相关专业, 大数据处理经验]
4                                               [数据挖掘]
                            ...
447         [Python, TensorFlow, PyTorch, 计算机相关专业, , ]
448            [容器技术, 消息队列, 网络编程, Django, MySQL, , , ]
449        [网络爬虫技术, 搜索引擎技术, Linux, Redis, NoSQL, , , ]
450    [Python, C++, JavaScript, C语言, Python工程师, , , ]
451             [C/C++, C++, 机器学习/算法工程, 计算机相关专业, , , ]
Name: 技能, Length: 452, dtype: object

去除空值

In [6]:
for item in skills:
    while '' in item:
        item.remove('')
skills

0                       [Python, SQL, 数学/统计相关专业]
1      [Python, Scala, Shell, SQL, 深度学习算法, 推荐算法]
2                    [TensorFlow, PyTorch, GBDT]
3                  [计算机相关专业, 数学/统计相关专业, 大数据处理经验]
4                                         [数据挖掘]
                         ...
447       [Python, TensorFlow, PyTorch, 计算机相关专业]
448            [容器技术, 消息队列, 网络编程, Django, MySQL]
449        [网络爬虫技术, 搜索引擎技术, Linux, Redis, NoSQL]
450    [Python, C++, JavaScript, C语言, Python工程师]
451             [C/C++, C++, 机器学习/算法工程, 计算机相关专业]
Name: 技能, Length: 452, dtype: object

筛选无效tag词，并去除

In [135]:
skills[236]

['厂内食堂', '有餐补', '4-8人间宿舍', '坐班', '车间流水线']

In [134]:
DataDF.loc[DataDF['技能'].astype(str).str.contains('宿舍')]

              职位名称                                 技能        薪资
167           厨房经理     [包吃包住, 加班费, 夜班补助, 免费工装, 宿舍有空调]      7-8K
206  妹子家公司招聘蛋糕/裱花师  [蛋糕店, 餐补, 加班费, 1-3年, 包吃包住, 宿舍有空调]      5-7K
236           生产普工    [厂内食堂, 有餐补, 4-8人间宿舍, 坐班, 车间流水线]  3.5-4.5K

In [7]:
DataDF['技能']

0                       [Python, SQL, 数学/统计相关专业]
1      [Python, Scala, Shell, SQL, 深度学习算法, 推荐算法]
2                    [TensorFlow, PyTorch, GBDT]
3                  [计算机相关专业, 数学/统计相关专业, 大数据处理经验]
4                                         [数据挖掘]
                         ...
447       [Python, TensorFlow, PyTorch, 计算机相关专业]
448            [容器技术, 消息队列, 网络编程, Django, MySQL]
449        [网络爬虫技术, 搜索引擎技术, Linux, Redis, NoSQL]
450    [Python, C++, JavaScript, C语言, Python工程师]
451             [C/C++, C++, 机器学习/算法工程, 计算机相关专业]
Name: 技能, Length: 452, dtype: object

In [ ]:
存入csv文件

In [8]:
DataDF.to_csv('new_d3.csv',index=False)